html, body{
    font-family: monospace;
    padding: 0;
    margin: 0;
}

.xs-1-1,
.row > div{
    background-image:
        url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVQI12P4zwAAAgEBAKrChTYAAAAASUVORK5CYII=),
        url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA8AAAABCAMAAAA2AgQIAAAAA1BMVEXu7u6DSdFtAAAACklEQVR4AWNAAwAAEAABJf49NAAAAABJRU5ErkJggg==),
        url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA8AAAABCAMAAAA2AgQIAAAAA1BMVEXu7u6DSdFtAAAACklEQVR4AWNAAwAAEAABJf49NAAAAABJRU5ErkJggg==)
    ;
    background-color: #f6f6f6;
    background-position: center, top left, top right;
    background-repeat: repeat, repeat-y, repeat-y;

    padding-top: 1em;
    padding-bottom: 1em;

    overflow: hidden;
    white-space:nowrap;

}

.xs-1-1:before,
.row > div:before{
    content: ' ';
    border: 1px solid #e0e0e0;
    position: absolute;
    top: 0; left: 0; right: 0; bottom: 0;
}